<div class="portfolios" style= "background-image: url('<%= image_path "BeachPlease.png" %>');">
  <%= link_to 'http://www.beach-please.me/', target: :_blank  do %>
  <h3>BeachPlease</h3>
  <% end %>
</div>

<div class="portfolios" style= "background-image: url('<%= image_path "Airtournguide.png" %>');">
  <%= link_to 'https://airtournguide.herokuapp.com/', target: :_blank  do %>
  <h3>AirTournGuide</h3>
  <% end %>
</div>

