<div class="wrapper">
  <div class="container">
    <h3 class="rotate about">About me</h3>
    <p class="rotate">Graduated in Digital Business
& e-Commerce in September 2018.
Joined Le Wagon from January to
March 2019.
Currently looking for a position as a
Web DeveloperJunior Ruby on Rails.</p>
  <p class="rotate me">Marine</p>
  </div>
</div>

