<div class="wrapper trombonne">
  <div class="container">
    <h3 class="rotate about">About me</h3>
    <p class="rotate">Graduated in Digital
    Business
    & e-Commerce <br> in September 2018.
    Joined Le Wagon from <br> January to
    March 2019.
    Currently looking for <br> a position as a
    Web DeveloperJunior <br> Ruby on Rails.</p>
  <p class="rotate me">Marine</p>
  </div>
</div>

