<!-- Card 1 -->
<div class="cards">
    <div class="cards-content">
      <img src="<%= image_path "Le-Wagon.png" %>" alt="">
      <div class="cards-info">
        <h4>Le Wagon</h4>
        <p><i class="fas fa-map-marker-alt"></i> Paris, France</p>
        <p>Fullstack Web Developer</p>
        <p>January 2019 - March 2019</p>
      </div>
    </div>
</div>

<!-- Card 2 -->
<div class="cards">
    <div class="cards-content">
      <img src="<%= image_path "EBS.png" %>" alt="">
      <div class="cards-info">
        <h4>European Business School</h4>
        <p><i class="fas fa-map-marker-alt"></i> Paris, France</p>
        <p>Master 2 - Digital Business & e-Commerce</p>
        <p>September 2013 - July 2018</p>
      </div>
    </div>
</div>

<!-- Card 3 -->
<div class="cards">
    <div class="cards-content">
      <img src="<%= image_path "UPC.png" %>" alt="">
      <div class="cards-info">
        <h4>Universidad Peruana de Ciencias Aplicadas</h4>
        <p><i class="fas fa-map-marker-alt"></i> Lima, Peru</p>
        <p>International Business - Semester abroad</p>
        <p>August 2015 - December 2015</p>
      </div>
    </div>
</div>
