<div class="set-size charts-container">
  <div class="pie-wrapper progress-french">
    <span class="label"><p>French</p></span>
    <div class="pie">
      <div class="left-side half-circle"></div>
      <div class="right-side half-circle"></div>
    </div>
  </div>
</div>

<div class="set-size charts-container">
  <div class="pie-wrapper progress-english">
    <span class="label"><p>English</p></span>
    <div class="pie">
      <div class="left-side half-circle"></div>
      <div class="right-side half-circle"></div>
    </div>
  </div>
</div>

<div class="set-size charts-container">
  <div class="pie-wrapper progress-spanish">
    <span class="label"><p>Spanish</p></span>
    <div class="pie">
      <div class="left-side half-circle"></div>
      <div class="right-side half-circle"></div>
    </div>
  </div>
</div>
<!-- <div class="container">
  <p>Notions:</p>
  <p>Russian</p>
</div>
 -->
