  <div class="modal fade" id="myModal-sg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h3 class="modal-title" id="myModalLabel">Saint-Gobain</h3>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
       </div>
       <div class="modal-body">
        <h4>e-Commerce Deployment Assistant</h4>
        <p>Work/study training program</p>
        <p><i class="fas fa-map-marker-alt"></i> Paris, France</p>
        <p>September 2016 - September 2018</p>
        <ol>
          <li>Web & eCommerce integration:</li>
          <ul>
            <li>Builds a common catalogue of products available through eCommerce</li>
            <li>Coordinates the presentation of the offer with all countries</li>
            <li>Coordinates with the external agency to pilot the project of integrating both systems</li>
            <li>Closely follow-up the integration with the countries and makes sure all countries meet the deadlines</li>
          </ul>
          <li>Customer experience:</li>
          <ul>
            <li>Helps spread the European marketing kit and gathers feedbacks from the countries</li>
            <li>Makes sure the App is compliant with customers’ expectations and gathers feedbacks from the customers</li>
          </ul>
          <li>Sales support projects:</li>
          <ul>
            <li>Coordinates implementation of the rapid learning in the live countries</li>
            <li>Pilots the adaptation and translation of the rapid learning in upcoming countries</li>
            <li>Pilots the adaptation and translation of the printed catalogue in upcoming countries</li>
          </ul>
        </ol>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       </div>
     </div>
   </div>
  </div>
