  <div class="modal fade" id="myModal-pk" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h3 class="modal-title" id="myModalLabel">Paule Ka</h3>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
       </div>
       <div class="modal-body">
        <h4>Saleswoman</h4>
        <p>Intership & side job</p>
        <p><i class="fas fa-map-marker-alt"></i> Paris</p>
        <p>May 2014 - April 2015</p>
        <ul>
          <li>Customer reception</li>
          <li>Organization of the storehouse</li>
          <li>Deliveries</li>
          <li>Restock management</li>
          <li>Merchandising</li>
          <li>Preparation of transfers</li>
        </ul>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       </div>
     </div>
   </div>
  </div>
