<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
   <img src="<%= image_path "MarineSourin.png" %>" alt="">
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <ul>
      <li><%= link_to "CV", cvs_path %></li>
      <li><%= link_to "Portfolio", portfolios_path %></li>
      <li><%= link_to "Contact", contacts_path %></li>
    </ul>
  </div>
  <!-- Dropdown appearing on mobile only -->
<!--   <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><%#= link_to "CV", cvs_path %></li>
        <li><%#= link_to "Portfolio", portfolios_path %></li>
        <li><%#= link_to "Contact", contacts_path %></li>
      </ul>
    </div>
  </div> -->
</div>
