<div class="container">
  <div class="contacts">
      <div class="box">
        <div class="icon">
          <i class="fas fa-map-marker-alt" aria-hiden="true"></i>
          <h5>Address</h5>
          <p>Paris, France</p>
        </div>
      </div>
          <div class="box">
        <div class="icon">
          <i class="fas fa-at" aria-hiden="true"></i>
          <h5>Email</h5>
          <p>marinesourin@live.fr</p>
        </div>
      </div>
      <div class="box">
        <div class="icon">
          <i class="fas fa-phone" aria-hiden="true"></i>
          <h5>Phone</h5>
          <p>+33 6 88 00 07 60</p>
        </div>
      </div>
  </div>
</div>
