<div class="container">
  <div class="cv">
    <div class="picture">
      <%= image_tag 'Marine.png', crop: :thumb, class: 'avatar'%>
    </div>

    <div class="experiences">
      <h3>Experiences</h3>
      <div class="experience">
        <%= render 'pages/cards' %>
      </div>
    </div>
  </div>
</div>
