<div class="container">
  <div class="cv">
    <div class="picture">
      <%= image_tag 'Marine.png', crop: :thumb, class: 'avatar'%>
    </div>

    <div class="experiences">
      <h3>Experiences</h3>
      <hr>
      <div class="experience">
        <%= render 'pages/cards' %>
      </div>
    </div>
  </div>
  <div class="educations">
    <h3>Education</h3>
    <hr>
    <div class="education">
      <p>hello from educations</p>
    </div>
  </div>
  <div class="tools">
    <h3>Tools</h3>
    <hr>
    <div class="tool">
      <%= render 'pages/tools' %>
    </div>
  </div>
</div>
