.wrapper.trombonne {
  background-image: url('http://www.stickpng.com/assets/images/5887c26cbc2fc2ef3a186046.png') !important;
  background-position: center !important;
  background-repeat: no-repeat!important;
  position: relative !important;
  margin-right: auto !important; /* 1 */
  margin-left:  auto !important; /* 1 */

  max-width: 960px !important; /* 2 */
  min-height: 500px !important;

  padding: 10px !important; /* 3 */
}

// h3 {
//   text-align: center;
//   margin-top: 50px;
// }

p.rotate {
  -webkit-transform:rotate(-3deg);
  position: absolute;
  bottom: 185px;
  left: 315px;
  padding-top: 10px;
  word-break: keep-all;
  width: 340px;
}

p.rotate.me {
  bottom: 150px;
  left: 600px;
}

h3.rotate.about {
  color: #E89084;
  position: absolute;
  left: 405px;
  bottom: 350px;
  -webkit-transform:rotate(-3deg);
}

@media(max-width: 576px) {
  .wrapper.trombonne {
    max-width: 100% !important;
    min-height: 400px !important;
    background-size: contain;
  }
  p.rotate {
    top: 140px;
    left: 70px;
    font-size: small;
  }
  p.rotate.me {
    top: 235px;
    left: 289px;
  }
  h3.rotate.about {
    left: 68px;
    top: 95px;
  }
}

