.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: calc(100vh - 70px);
  display: flex;
  align-items: center;
}

.banner h1 {
  margin: 0;
  color: #707070;
  text-shadow: 1px 1px 3px rgba(255,255,255,0.7);
  font-size: 32px;
  font-weight: bolder;
}

.banner h2 {
  font-size: 32px;
  color: #707070;
  text-shadow: 1px 1px 3px rgba(255,255,255,0.7);
}
