.card-category {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-category:hover {
  box-shadow: 0 0 15px rgba(232, 144, 132, 1);
}

.card-content > img {
  height: 50%;
  width: 50%;
  object-fit: cover;
  padding-left: 10px;
}


.cards {
  height: 300px;
  // width: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.cards-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 100%;
  height: 100%;
}

.cards-content > img {
  height: 120px;
  object-fit: cover;
  padding-left: 10px;
}

.cards-info {
  margin-top: 15px;
}
