.contacts {
  width: 100%;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  flex-direction: column;
  h1 {
    color: #E89084;
    margin: 40px 0;
  }
}

.hidden {
  display: none;
}

.skinny_wrapper {
  width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .new_contact {
    width: 500px;
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
    text-align: left;
    input {
      width: 500px;
    }
    textarea {
      width: 500px;
    }
    .button {
      width: 100px;
      padding: 5px;
      margin-left: 200px;
      background-color: #FBE9E6;
      color: #707070;
      border-radius: 5px;
      border: none;
      box-shadow: 0px 0px 7px rgba(112,112,112,0.5);
    }
    .button:hover {
      background-color: #E89084;
      color: white;
    }
  }
}

@media(max-width: 576px) {
  .contacts {
    h1 {
      font-size: 30px;
    }
    .skinny_wrapper {
      width: 300px;
      .new_contact {
        width: 250px;
        input {
          width: 250px;
        }
        textarea {
          width: 250px;
        }
        .button {
          width: 100px;
          padding: 5px;
          margin-left: 70px;
        }
      }
    }
  }
}
