.cv {
  // display: flex;
  // justify-content: center;
  // align-items: center;
}

.experiences {
  text-align: center;
  margin-top: 50px;
  h3 {
    color: #E89084;
  }
  hr {
    border: 1px dashed #E89084;
    width: 50%;
  }
}

.experience {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-left: 5%;
}

@media(max-width: 992px) {
  .experience {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .experience {
    grid-template-columns: 1fr;
  }
}


.educations {
  text-align: center;
  margin-top: 50px;
  h3 {
    color: #E89084;
  }
  hr {
    border: 1px dashed #E89084;
    width: 50%;
  }
}

.tools {
  text-align: center;
  margin-top: 50px;
  h3 {
    color: #E89084;
  }
  hr {
    border: 1px dashed #E89084;
    width: 50%;
  }
}
