.cv {
  // display: flex;
  // justify-content: center;
  // align-items: center;
}

.experiences {
  text-align: center;
  margin-top: 50px;
}

.experience {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
