.cv {
  // display: flex;
  // justify-content: center;
  // align-items: center;
}

.experiences {
  margin-top: 50px;
  h2 {
    color: #E89084;
    text-align: center;
    margin-bottom: 20px;
  }
}

.experience {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  p {
    text-align: center;
    font-size: 14px;
    margin-top: 15px;
  }
  h4 {
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
  }
  .fa-map-marker-alt {
    color: #E89084;
  }
}

@media(max-width: 992px) {
  .experience {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 576px) {
  .experience {
    grid-template-columns: 1fr;
  }
}


.educations {
  margin-top: 50px;
  h2 {
    color: #E89084;
    margin-bottom: 20px;
    text-align: center;
  }
}

.education {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  p {
    text-align: center;
    font-size: 14px;
    margin-top: 15px;
  }
  h4 {
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
  }
  .fa-map-marker-alt {
    color: #E89084;
  }
}

@media(max-width: 992px) {
  .education {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 576px) {
  .education {
    grid-template-columns: 1fr;
  }
}

.tools {
  text-align: center;
  margin: 50px 0;

  h2 {
    color: #E89084;
    margin-bottom: 20px;
  }
}

.tool {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}


.languages {
  text-align: center;
  margin: 50px 0;

  h2 {
    color: #E89084;
    margin-bottom: 20px;
  }
}

.language {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

@media(max-width: 576px) {
  .language {
    grid-gap: 5px;
  }
}
