.portfolios {
  text-align: center;
  height: 550px;
  width: 100%;
  h3{
    color: #E89084;
    padding-top: 100px;
    font-size: 40px;
  }
  a:hover {
    text-decoration: none;
    font-size: 45px;
  }
}

.pink {
  background: #FBE9E6;
}

.portofolio-photos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  align-items: center;
  justify-items: center;
  img.portolio-photo {
    height: 300px;
  }
}

.fullscreen {
  display: flex;
  flex-direction: row;
}

@media(max-width: 576px) {
  .portofolio-photos {
    grid-template-columns: 1fr;
  }
}
