.cards-tool {
  img {
    width: 100px;
  }
}

@media(max-width: 576px) {
  .cards-tool {
    img {
      width: 60px;
    }
  }
}

.card-tool {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-perso:hover img {
  width: 120px;
  transition: 0.5s;
}


@media(max-width: 576px) {
  .btn-perso:hover img {
    width: 80px;
    transition: 0.5s;
  }
}

.card-body {
  border: none;
  img {
    width: 50px;
  }
  svg {
    width: 50px;
    height: 50px;
    margin-bottom: 25px;
  }
}



@media(max-width: 576px) {
  .card-body {
    border: none;
    img {
      width: 30px;
    }
    svg {
      width: 30px;
      height: 30px;
      margin-bottom: 10px;
    }
  }
}
.card-prog {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 150px;
}
